<!DOCTYPE html>
<html lang="en">
<head>
    <title>Cell Shield</title>
    <meta property="og:title" content="Cell Shield" />
    <meta property="og:description" content="Cell Shield is a service that allows backing a shields.io shield with a cell from a public Google Spreadsheet." />
    <meta property="og:image" content="https://cellshield.info/og.png" />
    <meta property="og:url" content="https://cellshield.info" />
    <meta name="theme-color" content="#bbb">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <style>
        html {
            max-width: 38rem;
            padding: 2rem;
            margin: auto;
            overflow: scroll;
        }

        input {
            background-color: #FFF;
            min-height: 30px;
            min-width: 100%;
            margin-top: 20px;
            margin-bottom: 20px;
        }

        pre {
            overflow: auto;
        }

        img {
            max-width: 100%;
        }
    </style>
</head>

<body>
<div class="main">
    <h1>Cell Shield</h1>
    <a href="https://github.com/nelsonjchen/cell-shield-go">https://github.com/nelsonjchen/cell-shield-go</a>
    <hr>
    <p>
        Cell Shield is a service that allows backing a <a href="https://shields.io">shields.io</a> shield with a cell from a public Google Spreadsheet.
    </p>
    <div class="example">
        <div>
            <h3>A public Google spreadsheet of a community effort</h3>
            <iframe src="https://docs.google.com/spreadsheets/d/e/2PACX-1vR__HjYLplN2BO1dNpKHjNhTA77GIQEv6P2AIoYwmtWFFtE12WShxzvjHKGaMafmdjadEV0CX9Rknfa/pubhtml?gid=0&amp;single=true&amp;widget=true&amp;headers=false"
                    style="height: 200px"></iframe>
        </div>
        <div>
            <h3>A <a href="https://shields.io">shields.io</a> badge which could be embed on some README, wiki, or web page that pulls data from the cell B2 of that spreadsheet</h3>
            <div class="demo_readme">
                <a href="https://docs.google.com/spreadsheets/d/1gVDfNMIub0TxFsvRTa6igaPvQn2j0AHokxDyB0wDWII/edit#gid=0&range=B2">
                    <img src="https://shields.io/endpoint?url=https%3A%2F%2Fcellshield.info%2Fgs%3FspreadSheetId%3D1gVDfNMIub0TxFsvRTa6igaPvQn2j0AHokxDyB0wDWII%26cellRange%3DB2"
                         alt="Rescues">
                </a>
            </div>
        </div>
    </div>
    <hr>
    <div>
        <h2>Cell Shield Generator Tool</h2>
        <div id="app">
            <div>
                <p>
                    Make sure the spreadsheet you are viewing is publically viewable. Spreadsheets that are published
                    but are not <em>"anyone on the internet with this link can view"</em> do not count.
                </p>
                <img src="/public_share.png" alt="Public Share">
                <br>
                <br>
                <label for="spreadSheetURL">Public Google Spreadsheet URL</label>
                <br>
                <input id="spreadSheetURL" v-model="spreadSheetURL"
                       placeholder="Paste a spreadsheet URL here e.g. https://docs.google.com/spreadsheets/d/1gVDfNMIub0TxFsvRTa6igaPvQn2j0AHokxDyB0wDWII/edit#gid=0">
                <br>
                <label for="cellRange">Cell Location (Named Ranges OK)</label>
                <br>
                <input id="cellRange" v-model="cellRange"
                       placeholder="e.g. B2">
                <label for="labelOverride">Label Override. Otherwise a label is generated from text value before colons(<code>:</code>)
                    if available</label>
                <br>
                <input id="labelOverride" v-model="labelOverride"
                       placeholder="Empty means don't override">
            </div>
            <div>
                <h4>Preview</h4>
                <a :href="linkToCell"><img :src="imageSrc"
                                           alt="Your Shield"></a>
                <h4>Image Source</h4>
                <pre>
{{ imageSrc }}
                </pre>
                <h4>Markdown</h4>
                <pre>
{{ markdownSrc }}
                </pre>
                <h4>HTML</h4>
                <pre>
{{ htmlSrc }}
                </pre>
                <h4>Need further customization?</h4>
                <p>
                    Visit <a href="https://shields.io/endpoint">https://shields.io/endpoint</a> for more options such as
                    logos
                    and other customizations.
                </p>
                <p>
                    Here's the raw endpoint URL to use with the shields.io endpoint creator:
                </p>
                <pre>
{{endpointURLSrc}}
                </pre>
            </div>
        </div>
    </div>
    <hr>
    <h2>Project</h2>
    <a href="https://github.com/nelsonjchen/cell-shield-go">https://github.com/nelsonjchen/cell-shield-go</a>
</div>

<script>
    const app = new Vue({
        el: '#app',
        data: {
            spreadSheetURL: '',
            cellRange: '',
            labelOverride: '',
        },
        computed: {
            spreadSheetEffective: function () {
                return this.spreadSheetURL || 'https://docs.google.com/spreadsheets/d/1gVDfNMIub0TxFsvRTa6igaPvQn2j0AHokxDyB0wDWII/edit#gid=0'
            },
            spreadsheetId: function () {
                // https://docs.google.com/spreadsheets/d/1gVDfNMIub0TxFsvRTa6igaPvQn2j0AHokxDyB0wDWII/
                const matches = this.spreadSheetURL.match(/https:\/\/docs\.google\.com\/spreadsheets\/d\/(.+)\//)
                if (matches) {
                    return matches[1]
                }
                return '1gVDfNMIub0TxFsvRTa6igaPvQn2j0AHokxDyB0wDWII';
            },
            cleanSpreadsheetURL: function () {
                return `https://docs.google.com/spreadsheets/d/${this.spreadsheetId}/edit#gid=0`
            },
            cellRangeEffective: function () {
                return this.cellRange || 'B2'
            },
            labelOverrideEffective: function () {
                if (this.labelOverride) {
                    return this.labelOverride
                }
                return ''
            },
            labelOverrideParameter: function () {
                if (this.labelOverrideEffective) {
                    return `&label=${encodeURIComponent(this.labelOverrideEffective)}`
                }
                return ''
            },
            linkToCell: function () {
                return `${this.cleanSpreadsheetURL}&range=${this.cellRangeEffective}`
            },
            endpointURL: function () {
                return `https://cellshield.info/gs?spreadSheetId=${this.spreadsheetId}&cellRange=${this.cellRangeEffective}`
            },
            imageSrc: function () {
                return `https://shields.io/endpoint?url=${encodeURIComponent(this.endpointURL)}${this.labelOverrideParameter}`
            },
            markdownSrc: function() {
                return `[![${this.labelOverride}](${this.imageSrc})](${this.linkToCell})`
            },
            htmlSrc: function () {
                return `<a href="${this.linkToCell}"><img src="${this.imageSrc}" alt="${this.labelOverrideEffective}"></a>`
            },
            endpointURLSrc: function () {
                return this.endpointURL
            },
        }
    })
</script>

</body>

</html>
